<div class="panel-list-menu"><button class="fa fa-calendar button is-link " (click)="showCalendarClick()"></button></div>
<div class="list-container"
             
                infiniteScroll
               [infiniteScrollDistance]="scrollDistance"
               [infiniteScrollUpDistance]="scrollUpDistance"
               [infiniteScrollThrottle]="throttle"
               (scrolled)="onScrollDown()"
               [fromRoot]="true"
               [scrollWindow]="false">
               <em-event-list *ngIf="showWorldList" [sumListEvents]="sumListEvents"></em-event-list>
               <em-user-event-list *ngIf="showMyList" [sumListEvents]="sumListEvents"></em-user-event-list>    
       <p *ngFor="let i of array">{{i}}</p>
</div>
