<nav class="navbar is-dark shadow" role="navigation" aria-label="main navigation" style="z-index:2"> 
  <div class="container">
      <div class="navbar-brand">
          <div class="navbar-item">
            <img src="" width="120" height="28" alt="Event Map Logo">
          </div>
          <div class="navbar-item"> 
              <form class="field has-addons" [formGroup]="form">
              
                <div class="container-search ">
                    <div emClickOutsideSearchBox (clickOutsideSearchBox)="hideBoxMainSearch()" >
                  <input type="search" class="main-search width-searcher" (click)="toggleDropDown()" placeholder="Search..." formControlName="query" name="query" />
                  <button class="icon" (click)="search(form.value.query)">
                    <i class="fa fa-search"></i>
                  </button>
                  
                    <div *ngIf='showDropDown' class="state-container-dropdown">
                    <div *ngFor="let event of events">
                      <div class="founded-event">
                        <p>{{event.name}}</p>
                      </div>
                    </div>
                  </div>
                  </div>
                </div>
              </form>
              </div>
              <button class="button navbar-burger is-dark " (click)="activeMenu()">
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>
    <div class="navbar-menu  {{activeMenuOnSmallDevice}}" >
      <div class="navbar-start " >
        <a *ngFor="let item of menu; index as i"
           [routerLink]="item.path" routerLinkActive="is-active"
           [routerLinkActiveOptions]="{exact: item.exact}"
           class="navbar-item is-tab" [title]="i+1">{{item.label}}</a>    
      </div>
    </div>
  </div>
</nav>

<div class="bg">
  <router-outlet></router-outlet>
</div>
<div id="footer">
  <div class="container">
    © 2017
  </div>
</div>