<agm-map [latitude]="lat" [longitude]="lng" [styles]="style" [scrollwheel]="true" [maxZoom]="14" [minZoom]="6" [zoom]="12"
    (mapRightClick)="showPropertyAboutNewEvent($event)">
    <agm-snazzy-info-window [latitude]="latNewMarker" [isOpen]="windowForNewEvent" [longitude]="lngNewMarker" (afterClose)="changeAddNextEventStatus($event)" >
        <ng-template>
            <h3>Dodaj nowy event</h3>
            <button id="btnAddEvent" (click)="addNewEvent()">Dodaj</button>
        </ng-template>
    </agm-snazzy-info-window>
    
    <div *ngIf="router.url === '/'">        
        <agm-marker *ngFor="let marker of events" [latitude]="marker.point.latitude" [longitude]="marker.point.longitude" [markerDraggable]="marker.point.draggable">
            <agm-snazzy-info-window [maxWidth]="200" [closeWhenOthersOpen]="true">
                <ng-template>
                    My first Snazzy Info Window!
                </ng-template>
            </agm-snazzy-info-window>
        </agm-marker>
    </div>
    <div *ngIf="router.url === '/mylist'">
        <agm-marker [latitude]="newPoint.latitude" [longitude]="newPoint.longitude" [markerDraggable]="newPoint.draggable">
            <agm-snazzy-info-window [maxWidth]="200" [closeWhenOthersOpen]="true">
                <ng-template>
                    My first Snazzy Info Window!
                </ng-template>
            </agm-snazzy-info-window>
        </agm-marker>
        <agm-marker *ngFor="let marker of myEvents" [latitude]="marker.point.latitude" [longitude]="marker.point.longitute" [markerDraggable]="marker.draggable"
            >
            <agm-snazzy-info-window [maxWidth]="200" [closeWhenOthersOpen]="true">
                <ng-template>
                    My first Snazzy Info Window!
                </ng-template>
            </agm-snazzy-info-window>
        </agm-marker>
    </div>
</agm-map>
